<div class="container">
    <div rtl>
        <h1 class="main-heading">{{ 'stms.favorite.title' | translate }}</h1>

        <mat-tab-group>
            <mat-tab label="Patients">
                <ng-template matTabContent>
                    <div class="patients-list">
                        <mat-card *ngFor="let patient of favPatients$ | async">
                            <mat-card-title>{{ patient?.fullName }} <code>{{ patient?.isActive ? 'Active' : 'Disabled' }}</code></mat-card-title>
                            <mat-card-subtitle>ID: {{ patient?.defaultId }}</mat-card-subtitle>
                            <a (click)="removePatient(patient)" class="isFav" mat-icon-button>
                                <fa-icon icon="heart" color="primary"></fa-icon>
                            </a>
                        </mat-card>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Orders">
                <ng-template matTabContent>
                    <div class="patients-list">
                        <mat-card *ngFor="let order of favOrders$ | async">
                            <mat-card-title>{{ order?.orderName }} <code>{{ order?.status?.name }}</code></mat-card-title>
                            <mat-card-subtitle>Creator: {{ order?.creator?.name || 'Anonymous' }}</mat-card-subtitle>
                            <a class="isFav" (click)="removeOrder(order)" mat-icon-button>
                                <fa-icon icon="heart" color="primary"></fa-icon>
                            </a>
                        </mat-card>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
